@import "../../variables";

.list-item {
  width: 100%;
  background-color: $accent-color;
  box-shadow: $box-shadow;
  color: white;
  border-radius: 3px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
