@import "../../variables";

.location-search-input {
  width: 100%;

  &__dropdown {
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 3px;

    & > div {
      font-size: 1.4rem;
      padding: 0.5rem;
    }
  }
}
