$primary-color: #1aebb6;
$accent-color: #3f5ba5;

$background-gradient-top-right: linear-gradient(
  to right top,
  #1aebb6,
  #00cccf,
  #00a9d9,
  #0083ca,
  #3f5ba5
);

$background-gradient-top: linear-gradient(
  to top,
  #1aebb6,
  #00cccf,
  #00a9d9,
  #0083ca,
  #3f5ba5
);
